@import "mixins";

.item {
  @include flex;
  flex-direction: column;
  align-items: unset;
  padding-bottom: 20px;
  &:not(:first-child) {    
    padding-top: 20px;
  }
  gap: 12px;

  button:nth-of-type(2), button:nth-of-type(2) + a {
    height: 30px;
    padding: 0 8px 0 8px;
    border-radius: 10px;
    background: var(--card-border);
    font-size: 12px;
    color: var(--text);
    &:hover:not(:disabled) {
      opacity: 0.8;
    }
    svg {
      display: none;
      width: 12px;
      height: 12px;
    }
  }
  button:nth-of-type(2) {
    margin-bottom: 6px;
    margin-left: 6px;
    grid-area: view;
  }
  button:nth-of-type(2) + a {
    margin-right: 6px;
    margin-bottom: 6px;
    grid-area: send;
    &:hover {
      text-decoration: none;
    }
  }

  &.isGroup {
    @include mobile {
      padding: 20px;
      background: var(--card-bg);
      & > button:nth-child(3) {
        svg {
          display: none;
        }
      }
      & > a {
        svg {
          display: none;
        }
      }      
    }
  }
}

.compact {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
  "image name name name"
  "image . view send";
  column-gap: 8px;
  row-gap: 4px;

  &:not(:first-child) {
    border-top: 1px solid var(--card-border);
  }
  .image {
    @include mobile {
      width: 72px !important;
      height: 72px !important;
    }
    img {
      width: 72px;
      height: 72px;
    }
  }
}

.image {
  @include mobile {
    width: 100px;
    height: 100px;
    border-radius: 12px;
    img {
      width: 100%;
      height: 100%;
      // width: 80%;
      // height: 80%;
    }
  }
  // margin-right: 8px;
  overflow: hidden;
  border-radius: 12px;
  cursor: zoom-in;
  align-self: center;
  gap: 8px;
  grid-area: image;
}

.large {
  max-width: 100%;
  width: calc(100vw - 40px);
  height: auto;
  margin: 0 auto;
  border-radius: var(--border-radius);
  aspect-ratio: 1 / 1;
}

.name {
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
  flex: 1;
  grid-area: name;
}

// @include mobile {
//   .isGroup {
//     .name {
//       border-bottom: 1px solid var(--card-border);
//     }
//   }
// }

/* placeholder */
.placeholder {
  content: "";
  background: var(--bg-muted);
}

.tx-nft-details {
  width: '100%';
  padding: 20px;
  border-radius: var(--input-border-radius);
  background: var(--bg-muted);
  dl {
    @include mobile {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      grid-gap: 0;
      gap: 0;
    }
    align-items: center;
    gap: 8px;
  }
  dd {
    @include mobile {
      &:not(:last-child) {
        margin-bottom: 16px;
      }
    }
    align-self: flex-start;
    justify-self: flex-end;
  }
}

.tag {
  margin-left: 0;
}