@import "forms";

.wrapper {
  position: relative;
}

.select {
  @include border;
  @include size;
  appearance: none;
  padding-right: 36px;
  width: 100%;
}

.before {
  border-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  &:focus {
    border-color: var(--input-border);
  }
}

.small {
  border-radius: 8px;
  font-size: var(--font-size-small);
  padding-left: 10px;
  padding-right: 24px;
  height: 28px;
  color: var(--text);
}

/* caret */
.caret {
  pointer-events: none;
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translate(0, -50%);
}

.small + .caret {
  right: 4px;
}
