@import "mixins";

.wrapper {
  --gutter: 4px;

  &.menu {
    --gutter: 10px;
  }
  gap: 4px;
  justify-content: center;
  // border-top: 1px solid var(--menu-border);
  // margin: calc(-1 * var(--gutter));
  @include mobile {
    justify-content: flex-start;
  }
}

/* item */
.icon {
  display: flex;
  opacity: 0.5;
  padding: var(--gutter);
  transition: all var(--transition);
  fill: var(--text);
  border-radius: 19px;
  .menu & {
    fill: var(--menu-text);
  }

  &:hover {
    opacity: 1;
    // background-color: var(--bg);
  }
}
