@import "mixins";

.button {
  @include inline-flex;
  gap: 4px;
  height: 30px;
  border-radius: 12px;
  font-size: 11px;
  color: var(--text-muted);
  text-transform: uppercase;
  padding: 0 10px;
  background-color: var(--bg);
  margin-right: 4px;
  margin-top: 8px;
  transition: color var(--transition) linear;
  &:hover {
    color: var(--text);
  }
  @include mobile {
    color: var(--text);
  }

  // border-radius: 10px;
  // border: solid 1px var(--text);
  // color: var(--text);
  // font-size: 10px;
  // gap: 2px;
  // height: 20px;
  // padding: 0 10px;
  // text-transform: uppercase;
}
