@import "mixins";

.moniker {
  @include truncate;
  color: var(--text);
  font-weight: var(--bold);
  max-width: 12rem;
}

.muted {
  color: var(--text-muted);
  font-size: 9px;
  font-weight: var(--bold);
  text-transform: uppercase;
}

.tooltip {
  white-space: nowrap;
}

.dlGap {
  margin-top: 8px;
  color: var(--text);
  dt {
    font-size: var(--font-size-small);
    font-weight: var(--normal);
    color: var(--card-title);
  }
  dd {
    font-weight: var(--bold);
  }
}
