@import "mixins";

.component {
  background: var(--bg-muted);
  border-radius: var(--border-radius);
  padding: var(--card-padding-small);
  word-break: break-all;
  @include mobile {
    dl {
      display: flex;
      flex-direction: column;
      gap: 0;
      align-items: flex-start;
      dt {
        margin-bottom: 2px;
      }
      dd:not(:last-child) {
        margin-bottom: 16px;
      }
      dd {
        text-align: left;
      }
    }
  }
}
