@import "mixins";

.asset-actions {
  flex: 1;
  width: 100%; 
  margin-top: 12px
}

.asset-btn {
  height: 30px;
  padding: 0 10px 0 10px;
  border-radius: 10px;
  background: var(--card-border);
  font-size: 12px;
  color: var(--text);
  display: inline-flex;
  font-weight: var(--bold);
  justify-content: center;
  align-items: center;
  gap: 2px;
  white-space: nowrap;
  flex: 1;
  &:hover:not(:disabled) {
    text-decoration: none;
    opacity: 0.8;
  }
}