@import "mixins";

.header {
  @include flex(space-between);

  border-bottom: var(--border-width) solid var(--menu-border);
  margin-bottom: (54px - 14px);

  @include mobile {
    @include flex(space-around, flex-start);
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: var(--mobile-tab-height);
    margin-bottom: 0;
    border-color: var(--card-bg);
    background: var(--card-bg);
    z-index: 10;
    border-top: var(--border-width) solid var(--card-border);
    // box-shadow: 0px -10px 20px rgb(0 0 0 / 3%);

    * {
      color: var(--text);
    }
  }
}

/* menu item */
.item {
  color: var(--menu-text);
  fill: var(--menu-text);
  opacity: 0.5;
  &:hover {
    text-decoration: none;
    opacity: 1;
  }
  @include desktop {
    &:hover {
      transform: translateX(6px);
      opacity: 1;
    }
  }
  @include mobile {
    svg {
      width: 58px;
      height: 58px;
      border-radius: 20px;
      padding: 16px;
      border: 1px solid var(--card-border);
      background: var(--card-bg);
    }
  }
}

.menu {
  @include mobile {
    margin-top: 64px;
    background: var(--bg);
  }
}

.menuTitle {
  @include flex(space-between);
  font-size: 20px;
  font-weight: 300;
  padding: 0 20px;
  line-height: var(--header-height);
  fill: var(--text);
  a {
    color: var(--text);
  }
  strong {
    font-weight: 700;
  }
  @include desktop {
    display: none;
  }
}

.menuList {
  @include mobile {
    display: grid;
    // row-gap: 8px;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    // padding: 40px 24px;
    padding: 12px 24px;
    background: var(--bg);
  }
}

.mobileItem {
  @include flex-column(flex-start);
  gap: 2px;
  padding: 8px;
  color: var(--button-default-text);
  fill: var(--button-default-text);

  font-size: 10px;
  font-weight: var(--bold);
  svg {
    width: 24px;
    height: 24px;
  }
  &.active {
    opacity: 1;
    color: var(--button-primary-bg);
    fill: var(--button-primary-bg);
  }

  &:hover {
    text-decoration: none;
  }

  @include desktop {
    display: none;
  }
}

.logo {
  flex: 1;
  display: block;
  font-size: 18px;
  font-weight: 300;
  padding: 0 20px;
  line-height: var(--header-height);
  background-color: var(--menu-bg);
  color: var(--button-primary-bg);
  fill: var(--button-primary-bg);
  opacity: 1;
  &:hover {
    transform: none;
  }

  strong {
    font-weight: 700;
  }

  @include mobile {
    display: none;
  }
}

.link {
  @include flex(flex-start);

  gap: 12px;
  opacity: 0.5;
  padding: 14px 20px;
  transition: all var(--transition);

  &:hover {
    opacity: 1;
  }
  @include desktop {
    svg {
      width: 22px;
      height: 22px;
    }
  }

  &.active {
    opacity: 1;
    font-weight: var(--bold);
  }

  @include mobile {
    @include flex-column(flex-start);
    opacity: 1;

    font-size: var(--font-size-small);
    font-weight: var(--normal);
    color: var(--card-title);
    fill: var(--button-default-text);
  }
}

/* mobile */
.toggle {
  // opacity: 0.3;
  &.active {
    opacity: 1;
  }
  @include desktop {
    display: none;
  }
}
